.commit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 10px;
  gap: 50px;

  object-fit: contain;

  background-color: #74959a86;
  border-radius: 10px;

  &:hover {
    background-color: #87ccd686;
  }

  a:hover {
    color: #011214;
  }

  .commitNote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    gap: 5px;

    .commitUrl {
      word-break: break-all;
    }
  }

  .commitExtra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 20px;

    text-align: center;
    user-select: none;

    .information,
    .dateTime {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .time,
      .date,
      .authorName {
        White-space: nowrap;
      }

      .repositoryName {
        word-break: break-all;
      }
    }

    .information {
      align-items: flex-end;
    }

    .dateTime {
      align-items: flex-start;
    }

    .avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 55px;
      height: 55px;
      border: 1px solid #74959abe;
      border-radius: 50px;
    }

    @media (max-width: 800px) {
      visibility: hidden;
      display: none;
    }
  }
}
