.commit {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  margin: 20px 0px;
  gap: 40px;

  :hover {
    color: #065550;
  }

  .information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    height: 45px;
    gap: 4px;

    &:last-child {
      align-items: flex-end;
      font-weight: bold;
      user-select: none;
    }
  }
}
