.commitNote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: auto;
  height: 55px;
  gap: 2px;

  .message {
    font-weight: bolder;
  }
}
