.listCommit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: calc(100vw - 100px);
  max-width: 1500px;
  height: calc(100vh - 210px);
  min-height: 300px;
  padding: 10px;
  gap: 20px;

  overflow-y: scroll;

  border: 4px solid var(--borderListCommit);
  border-radius: 5px;

  .separatorCommit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    border-radius: 50px;

    background-color: var(--borderListCommit);

    .separator {
      width: 200px;
      height: 3px;
    }
  }
}
