.listCommit {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  width: auto;
  height: auto;
  gap: 100px;

  .commitNote,
  .commitExtra {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: auto;
    height: auto;
    gap: 20px;

    strong:hover,
    p:hover {
      color: #065550;
    }
  }
}
