:root {
  --font: #171717;
  --background: #eeeeee;

  --scrollbarBackground: #cccccc;
  --scrollbarThumb: #74959a;

  --headerBackground: #E4DCCF;
  --headerBorder: #e4d9c8;
  --headerTitle: #576F72;

  --searchInputBorder: #d8c4a4;
  --searchInputBorderFocus: #ad3c65;
  --searchInputFont: #1B2430;
  --searchButton: #D885A3;
  --searchButtonHover: #bb5278;

  --listCommitBorder: #74959a86;

  --commitBackground: #74959a86;
  --commitBackgroundHover: #87ccd686;
  --commitAHover: #011214;
  --commitAvatarBorder: #74959abe;

  --success: #519259;
  --error: #FF6363;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

html {
  color: var(--font);
  background-color: var(--background);
}

body {
  margin: 20px;
  cursor: default;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  background-color: var(--scrollbarBackground);
}

::-webkit-scrollbar-track-piece {
  margin: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;

  background: var(--scrollbarThumb);
}
