.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  border: 5px solid var(--headerBorder);
  border-radius: 5px 35px 5px 5px;
  padding: 10px;

  background-color: var(--headerBackground);
  user-select: none;

  .title {
    color: var(--headerTitle);
    font-size: 40px;
    font-weight: 900;
  }

  .message {
    margin-left: 20px;

    color: var(--success);
    font-size: 20px;
    font-weight: 400;

    &#error {
      color: var(--error);
    }
  }
}
