.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
  gap: 20px;

  user-select: none;

  .searchSubGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 20px;
  }

  .spanSearch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &.repository {
      width: 300px;
    }

    &.author {
      width: 200px;
    }

    &.email {
      width: 250px;
    }

    &.date {
      width: 150px;
    }

    label {
      width: 100%;
      height: 22px;
      margin-left: 3px;

      font-weight: bold;
    }

    input {
      width: 100%;
      height: 30px;
      border: 2px solid #d8c4a4;
      border-radius: 5px;
      padding: 10px;

      color: #1B2430;
      cursor: text;

      &::placeholder {
        color: #1b243077;
      }

      &:focus {
        outline: 0;
        border: 2px solid #ad3c65;
      }
    }
  }

  .buttonSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid #D885A3;
    border-radius: 10px;
    padding: 10px;

    font-weight: 900;
    color: #fff6f9;
    background-color: #D885A3;

    &:hover {
      background-color: #bb5278;
    }

    &:focus {
      outline: 0;
      border: 2px solid #ad3c65;
    }
  }

  @media (max-width: 1080px) {
    .spanSearch {
      width: 200px !important;
    }
  }
}

@media (max-width: 960px) {
  .search {
    flex-direction: column;
  }
}
